
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="icerik">
    <div class="ppfot"><img src="../images/pp.jpg"></div>
    <div class="temiz" style="clear: both;"></div>
    <div class="ikadi">Furkan Karagülle</div>
    <div class="temiz" style="clear: both;"></div>
    <div class="itarih">28 Mayıs 2020 08:46</div>
    <div class="temiz" style="clear: both;"></div>
    <div class="iicerik">
        <p>
            Aslında o yara bantlarını satıyordu ama yaralı köpeği görünce hepsini köpeğin yarasını kapamak için kullandı.📸
            "Dürüst ve vicdanlı olmak, hesaplı olmaktan iyidir. Hesap, insanı makam sahibi yaparda, vicdan daha önemli işe yarar; İnsanı insan yapar.Aslında o yara bantlarını satıyordu ama yaralı köpeği görünce hepsini köpeğin yarasını kapamak için kullandı.📸
            "Dürüst ve vicdanlı olmak, hesaplı olmaktan iyidir. Hesap, insanı makam sahibi yaparda, vicdan daha önemli işe yarar; İnsanı insan yapar.
        </p>
    </div>
</div>
<div class="icerik">
    <div class="ppfot"><img src="../images/pp.jpg"></div>
    <div class="temiz" style="clear: both;"></div>
    <div class="ikadi">Furkan Karagülle</div>
    <div class="temiz" style="clear: both;"></div>
    <div class="itarih">28 Mayıs 2020 08:46</div>
    <div class="temiz" style="clear: both;"></div>
    <div class="iicerik">
        <img src="../images/pp.jpg">
    </div>
    <div class="temiz" style="clear: both;"></div>
</div>

