
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Gapfy</title>
    <link rel="stylesheet" type="text/css" href="../assets/account.css">
</head>
<body>
    <span id="root">
        <section class="section-all">
            <main class="main" role="main">
                <div class="wrapper">

                    <article class="article">

                        <div class="content">

                            <div class="login-box">
                                <p class="text">Kullanıcımız değil misin ?<a href="~/Home/register">Üye Ol</a></p>
                            </div>

                            <div class="login-box">

                                <div class="header">
                                    <img class="logo" src="../images/gapfylogo.png" alt="LOGO">
                                </div>

                                <div class="form-wrap">
                                    <form class="form">

                                        <div class="input-box">
                                            <input type="text" id="gkadi" placeholder="Kullanıcı adı ya da mail" autocapitalize="off" autocorrect="off" name="gkladi">
                                        </div>

                                        <span class="button-box">
                                            <button class="btn" type="submit" name="bgiris">Şifre Sıfırla</button>
                                        </span>

                                    </form>
                                </div>
                            </div>


                            <div class="login-box">
                                <p class="text">Şifreni hatırladın mı ?<a href="~/Home/Index">Giriş Yap</a></p>
                            </div>


                        </div>
                    </article>
                </div>
            </main>

            <footer class="footer" role="contentinfo">
                <div class="footer-container">
                    <nav class="footer-nav" role="navigation">
                        <ul>
                            <li><a href="www.google.com.tr">Hakkında</a></li>
                            <li><a href="">Destek</a></li>
                            <li><a href="">Gizlilik</a></li>
                            <li><a href="">Şartlar</a></li>
                            <li><a href="">Öğretici</a></li>
                        </ul>
                    </nav>

                    <span class="footer-logo">&copy; 2024 Gapfy</span>
                </div>
            </footer>

        </section>
    </span>



</body>
</html>